# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /signup/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /signup/index.php [L]
</IfModule>

# END WordPress
