/* ---- Borders arround the Board
---------------------------------------------------------------------------- */

html, body { background-color: #c9c1ad; } /* Hintergrundfarbe - Aussen */

.top-left, .top-right, .bottom-left, .bottom-right {
    background-image: url("{T_THEME_PATH}/images/border.gif"); /* Pfad und Name des Bildes */
    height: 20px;          /* hoehe der Ecken --  haelfte der hoehe vom Bild */
    font-size: 2px;      /* Korrektur fuer die hoehe des IE <div>'s */
}
       
.top-left, .bottom-left {
    margin-right: 20px; /* breite der Ecken */
}
       
.top-right, .bottom-right {
    margin-left: 20px;  /* Breite der Ecken */
    margin-top: -20px;  /* Hoehe der Ecken - Negativ */
}
       
.top-right {
    background-position: 100% 0;   /* Positionierung der Ecken - rechts, nur Horizontal */
}
       
.bottom-left  {
    background-position: 0 -20px;   /* ersetze die zweite Zahl durch die Negative hoehe von einer Ecke */
}
       
.bottom-right {
    background-position: 100% -20px; /* ersetze die zweite Zahl durch die Negative hoehe von einer Ecke */
}
       
.inside {
    border-left: 1px solid #707070;    /* Breite, Stil, Farbe - links */
    border-right: 1px solid #707070;   /* Breite, Stil, Farbe - rechts */
    background: #FFFFFF;               /* Hintergrundfarbe - innen */
    color: #394B5F;                    /* Textfarbe - innen */
    padding-left: 0px;                /* Text Abstand - links */
    padding-right: 0px;            /* Text Abstand - rechts */   
    padding-top: 0px;                /* Text Abstand - oben */
}
       
.notopgap    { margin-top: 0; }

.nobottomgap { margin-bottom: 0; }

.outside {
    margin: 0 auto;
    width : 980px; /* Breite gesamt */
    padding: 0px;
}