<!-- INCLUDE mcp_header.html -->
<form method="post" id="mcp" action="{U_POST_ACTION}">
<div class="side-segment"><h3>{L_TITLE}</h3></div>
<div class="well">
<div class="row">
    <div class="col-md-2">
	  <!-- IF AVATAR_IMG -->{AVATAR_IMG}<!-- ELSE --><div class="fileinput-new thumbnail" style="width: 100px; height: 100px;"><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /></div><!-- ENDIF -->
    </div>

      <ul class="list-unstyled">
	    <li><i class="fa fa-user text-muted"></i><!-- IF USER_COLOR --><span style="color: #{USER_COLOR}"> {USERNAME}</span><!-- ELSE --> {USERNAME}<!-- ENDIF --></li>
        <li><i class="fa fa-calendar text-muted"></i> {L_JOINED}: {JOINED}</li>
        <li><i class="fa fa-comments text-muted"></i> {L_TOTAL_POSTS}: {POSTS}</li>
        <li><i class="fa fa-warning text-muted"></i> {L_WARNINGS}: {WARNINGS}</li>
		<!-- IF RANK_TITLE --><li> {RANK_TITLE}</li><!-- ENDIF -->
      </ul>
</div>
</div>

<div class="well">
        <div class="control-group"> 
	          <label class="control-label" for="usernote">{L_ADD_FEEDBACK}:</label><span class="help-block">{L_ADD_FEEDBACK_EXPLAIN}</span>
	        <div class="controls controls-row"> 
              <textarea placeholder="{L_ADD_FEEDBACK}..." rows="2"  name="usernote" id="usernote" class="form-control"></textarea>
	         </div> 
	    </div>
</div>



<fieldset class="form-actions">
	{S_HIDDEN_FIELDS}
	<button type="reset" value="{L_RESET}" name="reset" class="btn btn-default">{L_RESET}</button>
	<button type="submit" name="action[add_feedback]" value="{L_SUBMIT}" class="btn btn-default">{L_SUBMIT}</button>
	{S_FORM_TOKEN}
</fieldset>

<div class="space10"></div>

<div class="row">

	<div class="col-md-6">
	<div class="input-group input-group-sm">
	   <input class="form-control" type="text" class="medium" size="" name="keywords" id="search_keywords" placeholder="{L_SEARCH_KEYWORDS}:">
	<span class="input-group-btn">
	  <button type="submit" class="btn btn-default">{L_SEARCH}</button>
    </span>
	</div>
	</div>
	
	   <div class="col-md-6">
            <ul class="pagination pagination-sm pull-right">
	         <!-- IF PREVIOUS_PAGE --><li><a href="{PREVIOUS_PAGE}">{L_PREVIOUS}</a></li><!-- ENDIF -->
	         <!-- IF TOTAL_REPORTS --><li class="active"><a>{TOTAL_REPORTS}</a></li><!-- ENDIF -->
             <!-- IF PAGE_NUMBER --><!-- IF PAGINATION --><li><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a></li> {PAGINATION}<!-- ELSE --> <li><a>{PAGE_NUMBER}</a></li><!-- ENDIF --><!-- ENDIF -->
	         <!-- IF NEXT_PAGE --><li><a href="{NEXT_PAGE}">{L_NEXT}</a></li><!-- ENDIF -->
	        </ul>
	    </div>
		
</div>

<div class="panel panel-forum">
	<div class="panel-heading">
	 <i class="fa fa-edit"></i> {L_NOTE}
	</div>
	<div class="panel-inner">
	<table class="footable table table-striped table-primary table-hover">
	<thead>
	<tr>
		<th data-hide="phone"><i class="fa fa-book"></i> {L_ACTION_NOTE}</th>
		<th data-class="expand"><i class="fa fa-user"></i> {L_REPORT_BY}</th>
		<th data-hide="phone"><i class="icon-moon-ipcontrol"></i> {L_IP}</th>
		<th data-hide="phone"><i class="fa fa-clock-o"></i> {L_TIME}</th>
		<!-- IF S_CLEAR_ALLOWED -->
        <th><i class="fa fa-check-square-o"></i> {L_MARK}</th>
		<!-- ENDIF -->
	</tr>
	</thead>
	<tbody>
	<!-- BEGIN usernotes -->
	<tr>
	    <td>{usernotes.ACTION}</td>
		<td>{usernotes.REPORT_BY}</td>
		<td>{usernotes.IP}</td>
		<td>{usernotes.REPORT_AT}</td>
	<!-- IF S_CLEAR_ALLOWED -->
	    <td class="table-check"><div class="checker"><input type="checkbox" name="marknote[]" id="note-{usernotes.ID}" value="{usernotes.ID}"><label for="note-{usernotes.ID}"></label></div></td>
	<!-- ENDIF -->
	</tr>
	<!-- BEGINELSE -->
	<tr>
		<td colspan="<!-- IF S_CLEAR_ALLOWED -->5<!-- ELSE -->4<!-- ENDIF -->" >{L_NO_ENTRIES}</td>
	</tr>
	<!-- END usernames -->
	</tbody>
	</table>
	</div>
</div>
	
	<div class="clearfix">
        <div class="pull-right">
            <ul class="pagination pagination-sm">
			 <li><a title="" data-original-title="" href="javascript:void(0);" data-target=".sorting" data-toggle="collapse">{L_OPTIONS}</a></li>
	         <!-- IF PREVIOUS_PAGE --><li><a href="{PREVIOUS_PAGE}">{L_PREVIOUS}</a></li><!-- ENDIF -->
	         <!-- IF TOTAL_REPORTS --><li class="active"><a>{TOTAL_REPORTS}</a></li><!-- ENDIF -->
             <!-- IF PAGE_NUMBER --><!-- IF PAGINATION --><li><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a></li> {PAGINATION}<!-- ELSE --> <li><a>{PAGE_NUMBER}</a></li><!-- ENDIF --><!-- ENDIF -->
	         <!-- IF NEXT_PAGE --><li><a href="{NEXT_PAGE}">{L_NEXT}</a></li><!-- ENDIF -->
	        </ul> 	
	    </div>
   
  
  <!-- IF S_CLEAR_ALLOWED -->
  
   <div class="pull-left">
	<fieldset>
	<div class="btn-group">
	 <button class="btn btn-default" type="submit" name="action[del_all]" title="" data-original-title="{L_DELETE_ALL}"><i class="fa fa-trash-o"></i></button>
	 <button class="btn btn-default" type="submit" name="action[del_marked]" title="" data-original-title="{L_DELETE_MARKED}"><i class="fa fa-times"></i></button>
	</div>
	
	<div class="btn-group">
	<a href="javascript:;" onclick="marklist('mcp', 'marknote', true); return false;" class="btn btn-default" title="" data-original-title="{L_MARK_ALL}"><i class="fa fa-check-square-o"></i></a>
	<a href="javascript:;" onclick="marklist('mcp', 'marknote', false); return false;" class="btn btn-default" title="" data-original-title="{L_UNMARK_ALL}"><i class="fa fa-square-o"></i></a>
	</div>
    </fieldset>
	</div>
	</div>
<!-- ENDIF -->
  
     <div class="space10"></div>
  
<div class="hidden-xs">
	<fieldset class="controls-row">
                    <div class="sorting collapse">
					 <div class="panel panel-default">
					  <div class="panel-body">
                        <div class="col-md-12 col-sm-12">
						<div class="col-md-4 col-sm-4"> 
                         <label for="bday_day">{L_DISPLAY}:</label>
                            <div class="control-row">
                              {S_SELECT_SORT_DAYS}
                            </div>
						</div>
	 
	                    <div class="col-md-4 col-sm-4"> 
                          <label for="bday_day">{L_SORT_BY} </label>
                            <div class="control-row">
                              {S_SELECT_SORT_KEY}
                            </div>
						</div>
											
						<div class="col-md-4 col-sm-4"> 
                           <label for="bday_day">{L_SORT_BY}</label>
                            <div class="control-row">
							<div class="input-group">
                             {S_SELECT_SORT_DIR}
							 <span class="input-group-btn">
                              <button class="btn btn-default" name="sort" type="submit">{L_GO}</button>
							</span>
							</div>
						    </div>   
						</div>
                        </div>
                      </div>
					 </div>
					</div>
	</fieldset> 
</div>
	
</form>

<!-- INCLUDE mcp_footer.html -->