<!-- IF S_IN_SEARCH_POPUP -->
<!-- You should retain this javascript in your own template! -->
<script>
function insert_user(user)
{
	opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value = ( opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value.length && opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.type == "textarea" ) ? opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value + "\n" + user : user;
}

function insert_marked(users)
{
	if (typeof(users.length) == "undefined")
	{
		if (users.checked)
		{
			insert_user(users.value);
		}
	}
	else if (users.length > 0)
	{
		for (i = 0; i < users.length; i++)
		{
			if (users[i].checked)
			{
				insert_user(users[i].value);
			}
		}
	}

	self.close();
}

function insert_single(user)
{
	opener.document.forms['{S_FORM_NAME}'].{S_FIELD_NAME}.value = user;
	self.close();
}
</script>
<script src="{T_SUPER_TEMPLATE_PATH}/forum_fn.js"></script>
<!-- ENDIF -->

  <div class="side-segment"><h3>{L_FIND_USERNAME}</h3></div>

<form method="post" action="{S_MODE_ACTION}" id="search_memberlist">
<div class="clearfix">
<div class="well">

	<p>{L_FIND_USERNAME_EXPLAIN}</p>

	<div class="row">
	<div class="col-md-6">
	<fieldset>
	
	<div class="control-group"> 
	   <label class="control-label" for="username">{L_USERNAME}:</label>
	<div class="controls controls-row"> 
       <input type="text" class="form-control input-sm" placeholder="{L_USERNAME}" name="username" id="username" value="{USERNAME}">
	</div> 
	</div>
	
	<!-- IF S_EMAIL_SEARCH_ALLOWED -->
	<div class="control-group"> 
	   <label class="control-label" for="email">{L_EMAIL}:</label>
	<div class="controls controls-row"> 
       <input type="text" class="form-control input-sm" placeholder="{L_EMAIL}" name="email" id="email" value="{EMAIL}">
	</div> 
	</div>
	<!-- ENDIF -->

	<div class="control-group"> 
	   <label class="control-label" for="icq">{L_ICQ}:</label>
	<div class="controls controls-row"> 
       <input type="text" class="form-control input-sm" placeholder="" name="icq" id="icq" value="{ICQ}">
	</div> 
	</div>


	<div class="control-group"> 
	   <label class="control-label" for="aim">{L_AIM}:</label>
	<div class="controls controls-row"> 
       <input type="text" class="form-control input-sm" placeholder="" name="aim" id="aim" value="{AIM}">
	</div> 
	</div>
	
	<div class="control-group"> 
	   <label class="control-label" for="yahoo">{L_YIM}:</label>
	<div class="controls controls-row"> 
       <input type="text" class="form-control input-sm" placeholder="" name="yahoo" id="yahoo" value="{YAHOO}">
	</div> 
	</div>
	
	<div class="control-group"> 
	   <label class="control-label" for="jabber">{L_JABBER}:</label>
	<div class="controls controls-row"> 
       <input type="text" class="form-control input-sm" placeholder="" name="jabber" id="jabber" value="{JABBER}">
	</div> 
	</div>
	
	<div class="control-group"> 
	   <label class="control-label" for="msn">{L_MSNM}:</label>
	<div class="controls controls-row"> 
       <input type="text" class="form-control input-sm" placeholder="" name="msn" id="msn" value="{MSNM}">
	</div> 
	</div>
	
	</fieldset>
    </div>
	
	<div class="col-md-6">
	<fieldset>
	
	<div class="control-group"> 
	   <label class="control-label" for="joined">{L_JOINED}:</label>
	<div class="input-group col-md-12 col-sm-12 col-xs-12">
		<select class="selectpicker" data-style="btn btn-default form-control" data-width="auto" name="joined_select">{S_JOINED_TIME_OPTIONS}</select>
		<input type="text" class="form-control" placeholder="YYYY-MM-DD, e.g. 2004-02-29" name="joined" id="joined" value="{JOINED}">
	</div>
	</div>
	
	
	<!-- IF S_VIEWONLINE -->
	<div class="control-group"> 
	   <label class="control-label" for="active">{L_LAST_ACTIVE}:</label>
	<div class="input-group col-md-12 col-sm-12 col-xs-12">
		<select class="selectpicker" data-style="btn btn-default form-control" data-width="auto" name="active_select">{S_ACTIVE_TIME_OPTIONS}</select>
		<input type="text" class="form-control input-sm" placeholder="YYYY-MM-DD, e.g. 2004-02-29" name="active" id="active" value="{ACTIVE}">
	</div>
	</div>
	<!-- ENDIF -->

	<div class="control-group"> 
	   <label class="control-label" for="count">{L_POSTS}:</label>
	<div class="input-group col-md-12 col-sm-12 col-xs-12">
		<select class="selectpicker" data-style="btn btn-default form-control" data-width="auto" name="count_select">{S_COUNT_OPTIONS}</select>
		<input type="text" class="form-control input-sm" placeholder="e.g. 12" name="count" id="count" value="{COUNT}">
	</div>
	</div>

	<!-- IF S_IP_SEARCH_ALLOWED -->
    <div class="control-group"> 
	   <label class="control-label" for="ip">{L_POST_IP}:</label>
	<div class="controls controls-row"> 
       <input type="text" class="form-control input-sm" placeholder="216.161.111.33" name="ip" id="ip" value="{IP}">
	</div> 
	</div>
    <!-- ENDIF -->
	
    <div class="control-group"> 
	   <label class="control-label" for="search_group_id">{L_GROUP}:</label>
	<div class="input-group col-md-12 col-sm-12 col-xs-12">
      <select class="selectpicker" name="search_group_id" id="search_group_id">{S_GROUP_SELECT}</select>
	</div> 
	</div>

	<div class="control-group"> 
	   <label class="control-label" for="sk">{L_SORT_BY}:</label>
	<div class="input-group col-md-12 col-sm-12 col-xs-12">
      <select class="selectpicker" data-width="auto" name="sk" id="sk">{S_SORT_OPTIONS}</select>
	</div> 
	</div>
	
	<div class="control-group"> 
	   <label class="control-label" for="sk">{L_SORT_BY}:</label>
	<div class="input-group col-md-12 col-sm-12 col-xs-12">
      <select class="selectpicker" data-width="auto" name="sd">{S_ORDER_SELECT}</select>
	</div> 
	</div>
	
	</fieldset>
	</div>
</div>
	


</div>
	<fieldset class="form-actions">
		<button type="reset" value="{L_RESET}" name="reset" class="btn btn-default">{L_RESET}</button>
		<button type="submit" name="submit" value="{L_SEARCH}" class="btn btn-default" autocomplete="off" data-loading-text="{L_SEARCHING} <i class='fa-spin fa fa-spinner fa-lg icon-white'></i>">{L_SEARCH}</button>
		{S_FORM_TOKEN}
	</fieldset>
</div>
</form>
<div class="space10"></div>