<form role="form" method="post" action="{U_QR_ACTION}">
    <div class="widget-content">			
	 <div class="space10"></div>
		<label class="sr-only" for="subject">{L_SUBJECT}:</label>
        <div class="form-group">
         <input class="form-control input-sm" type="text" name="subject" id="subject" value="{SUBJECT}"/>
        </div> 
         <label class="sr-only" for="{L_MESSAGE}">{L_MESSAGE}:</label>  
	    <div class="form-group">
		 <textarea class="form-control" name="message" id="{L_MESSAGE}" rows="3"  placeholder="{L_MESSAGE_ENTER_PLACEHOLDER}"></textarea>
        </div>
    </div>
    <div class="widget-footer"> 
	  <div class="form-group">
		{S_FORM_TOKEN}
		{QR_HIDDEN_FIELDS}
		<button type="submit" class="btn btn-default" id="load" name="post" autocomplete="off" data-loading-text="{L_LOADING}<i class='fa-spin fa fa-spinner fa-lg icon-white'></i>">{L_SUBMIT}</button>
		<button type="submit" class="btn btn-default" id="load" name="full_editor" autocomplete="off" data-loading-text="{L_LOADING}<i class='fa-spin fa fa-spinner fa-lg icon-white'></i>">{L_FULL_EDITOR}</button>
     </div>
	</div>
</form>
