#squares-select-widget {
    padding-left: 20px;
    float:left;
    .span1 {
        height: 100px;
        width: 100px;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        border: 1px solid black;
        &:hover {
            background-color: #dedede;
        };
    }
    div {
        width: 307px;
        height: 204px;
        display: block;
    }
    .helper {
        height: auto;
    }
}

.square-body {
    width: 384px;
    height: 384px;
}

.squares-select-widget {
    padding-left: 20px;
    float:left;
    .span1 {
        height: 20px;
        width: 20px;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        border: 1px solid black;
        &:hover {
            background-color: #dedede;
        };
    }
    div {
        width: 75px;
        height: 50px;
        display: block;
    }
    .helper {
        height: auto;
    }
}

.advertise {
    position: absolute;
    margin-left: -30px;
    text-align:center;
    img{
        -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
        box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    };
}