</main>
	</div> <!-- page-body id in header -->
  </div> <!-- content-forum in header -->
 </div> <!-- container  in header -->
</div> <!-- wrap  in header -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT and SCRIPT_NAME == "index" -->
    <!-- INCLUDE addons/sitesplat_login_body.html -->
<!-- ENDIF -->

	<section class="page-section">
		<div id="rtblock" class="container">
		<!--
			<div class="text-center">
			   <h1>{L_FANCY_TOPICS_TITLE}</h1>
			</div>
		-->
		   <!-- INCLUDE addons/recent_topics_body.html -->
	   </div>
	</section>

	<!-- INCLUDE addons/call_to_action_body.html -->

    <section class="section-pre-footer">
		<div class="center">
			<div class="row">
				<div class="col-sm-5 twitter">
					<div class="thumb"><i class="fa fa-paw"></i></div>
					<div class="text">
						<h3>Mi is az a Goodiebox pontosan?</h3>
						<p>A Goodiebox egy egyedülálló szolgáltatás Magyarországon, igazán egyedi és kreatív meglepetés doboz kifejezetten kutyáknak! Ha szeretnéd meglepni kedvencedet, akkor a lehető legjobb helyen jársz!</p>
						<a href="http://goodiebox.hu"><strong>Tovább olvasom</strong></a>
					</div>
				</div>
				<div class="col-sm-5 col-sm-offset-2 twitter">
					<div class="thumb"><i class="fa fa-twitter"></i></div>
					<div class="text">
						<h3><a href="https://twitter.com/goodieboxhu">{L_JOIN_US_TWITTER}&nbsp;<small>@goodieboxhu</small></a></h3>
						 <div id="twitter-feed"></div>
					</div>
				</div>
			</div>
		</div>
		 <div class="section-bg"></div>
	</section>
    
	<footer class="burned-asphalt" role="contentinfo"> <!-- Footer block -->
		<div class="midnight-" id="sub-footer">
			<div class="container">
				<div class="row bottomLinks">
				
					<div class="col-sm-6 sm-direction">
					 <!-- nav role="navigation" aria-label="Secondary">
						<ul class="list-inline footer-nav">
						 <li><a href="{U_ADVERTISE}" title="">{L_ADVERTISE}</a></li>
						 <li><a href="{U_PRIVACY}" title="">{L_PRIVACY}</a></li>
						 <li><a href="{U_DMCA}" title="">{L_DMCA}</a></li>
						 <li><a href="{U_TERMS_USE}" title="">{L_TERMS}</a></li>
						 <li><a href="{U_CONTACT}" title="">{L_CONTACT}</a></li>
						</ul>
					 </nav -->
					</div>
						
					<div class="col-sm-6 sm-direction">	
						<div class="clearfix socialbar">
							<div class="social-network">
								<!-- a class="google-plus-color" title="Google+" data-original-title="" href="#1"><i class="fa fa-google-plus"></i></a -->
								<!-- a class="github-color" title="Github" data-original-title="" href="#2"><i class="fa fa-github"></i></a -->
								<!-- a class="behance-color" title="Behance" data-original-title="" href="#3"><i class="fa fa-behance"></i></a -->
								<!-- <a class="dropbox-color" title="Dropbox" data-original-title="" href="#4"><i class="fa fa-dropbox"></i></a> -->
								<!-- <a class="pinterest-color" title="Pinterest" data-original-title="" href="#5"><i class="fa fa-pinterest"></i></a> -->
								<a class="facebook-color" title="Facebook" data-original-title="" href="https://facebook.com/goodieboxhu"><i class="fa fa-facebook"></i></a>
								<a class="twitter-color" title="Twitter" data-original-title="" href="https://twitter.com/goodieboxhu"><i class="fa fa-twitter"></i></a>
								<!-- <a class="bitbucket-color" title="Bitbucket" data-original-title="" href="#8"><i class="fa fa-bitbucket"></i></a> -->
								<!-- a class="envato-color" title="Envato" data-original-title="" href="http://themeforest.net/user/ThemeSplat/portfolio?ref=ThemeSplat"><i class="icon-moon-envato1"></i></a -->
								<!-- a class="rss-color hidden-xs" title="rss" data-original-title="" href="{U_FEED}"><i class="fa fa-rss"></i></a -->
							</div>
						</div>
					</div>	
					
					<!-- div class="col-sm-6 sm-direction">
					 <p class="copyrights"><small>{L_HANDCRAFTED}</small>&nbsp;<i class="fa fa-heart text-flatboots-red"></i>&nbsp;<small>{L_AND}</small>&nbsp;<i class="fa fa-coffee"></i>&nbsp;<small>{L_BY}<a href="http://www.sitesplat.com/" title="SiteSplat.com" target="_blank">&nbsp;{L_SITESPLAT}</a></small></p>
					</div -->
					
					<!-- div class="col-sm-6 sm-direction">
					  <p class="debug-output"><small>
						{S_TIMEZONE}&#45;
						<!-- IF TRANSLATION_INFO -->{TRANSLATION_INFO}<!-- ENDIF -->
						<!-- IF DEBUG_OUTPUT -->{DEBUG_OUTPUT}<!-- ENDIF -->
						<!-- {L_FLATBOOTS_VERSION} -->
					  </small></p>
					</div -->
					
				</div>
			</div>
		</div>
	</footer>

<a id="totop" class="top-flat" href="" onclick="return false;" style="display:none;"></a>

<div class="hidden"><!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF --></div> 

<!-- injected via a module or an include -->
<script>
// some function that depends on bootstrap and jquery
head.ready(function () {
	$('.footable').footable();$(".selectpicker").selectpicker();$(".selectpicker, .mchat-ttp").tooltip("disable");$(".btn-group [title]").tooltip({container:"body"});twitterFetcher.fetch("655676961356947457","twitter-feed",1,true,false);var totop=$("#totop");totop.click(function(){$("html, body").stop(true,true).animate({scrollTop:0},500);return false});$(window).scroll(function(){if($(this).scrollTop()>600){totop.fadeIn()}else{totop.fadeOut()}});$("button[data-loading-text]").click(function(){var e=$(this);e.button("loading");setTimeout(function(){e.button("reset")},3e3)});jQuery(function(e){e("a").tooltip({html:true,container:"body"})});
	$("input").iCheck({checkboxClass:"icheckbox_flat-aero",radioClass:"iradio_flat-aero"});$(".btn-search").click(function(){$(".search-input").toggleClass("open").find("input").focus()});$(".close").click(function(){$(this).prev("input").val("").parents(".search-input").removeClass("open")});$(".nav-tog").click(function(){if($(this).hasClass("neutro")){$(this).removeClass("neutro").addClass("open")}else{$(this).removeClass("open").addClass("neutro")}});
});
</script>
<!-- Google Analytics: change UA-XXXXXXXX-X to be your site's ID. -->

</body>
</html>